.card{
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.card img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 15px;
}
.card h1{
    font-size: 22px;
    margin: 10px 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #ff8661;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}